a{
	color: #FFF;
	text-decoration: none;
}
a:visited{
	color: #FFF;
}
body{
	background: #034369;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
}
header{
	background: transparent;
	border-bottom: solid 5px #64A8D1;
	margin: 0;
	padding: 1em 0;
	width: 100%;
}
header hgroup{
	display: inline-block;
	margin: 0.3em 0;
	vertical-align: top;
}
header img{
	border-radius: 50%;
	display: inline-block;
	height: 7em;
	margin: 1em;
	vertical-align: top;
	width: 7em;
}
figure{
	display: inline-block;
	height: 10em;
	vertical-align: top;
	width: 10em;
} 
footer{
	background: #00B258;
	box-shadow: #64A8D1 -3px -3px 10px;
	bottom: 0;
	display: block;
	margin: 0;
	padding: 0.5em;
	position: fixed;
	width: 99%;
}
section{
	margin: 1em 0;
}
section img{
	border-radius: 1em;
	height: 100%;
	width: 100%;
}